<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-4">
    <a class="navbar-brand" href="#">Book Recipe</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/shopping-list"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            appDropdown
            class="nav-link dropdown-toggle"
            style="cursor: pointer"
            >Manage</a
          >

          <!-- To open dropdown, toggle 'show' class -->
          <ul class="dropdown-menu end-0">
            <li>
              <a class="dropdown-item" style="cursor: pointer">Save Data</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
